
RewriteEngine on

RewriteCond %{HTTPS} off 
RewriteRule ^(.*)$ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]

RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f

RewriteRule ^electronics/([0-9a-zA-Z]+) electronics.php?type=$1 [NC,L] 
RewriteRule ^electronics.php?type=([0-9a-zA-Z]+) electronics/$1 [NC,L,R=301]

RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f

RewriteRule ^shopitem/([0-9a-zA-Z]+) shopitem.php?productID=$1 [NC,L] 
RewriteRule ^shopitem.php?productID=([0-9a-zA-Z]+) shopitem/$1 [NC,L,R=301]

RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f

RewriteRule ^raffleitem/([0-9a-zA-Z]+) raffleitem.php?raffleID=$1 [NC,L] 
RewriteRule ^raffleitem.php?raffleID=([0-9a-zA-Z]+) raffleitem/$1 [NC,L,R=301]

RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f

RewriteRule ^(.*)$ $1.php [NC,L] 